
.greybg {
    text-align: center;
    display: flex;
    background-color: rgb(243, 243, 243);
}

.chartContainer {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 50%;
}

.text1,.text2{
    text-align: center;
    width: 40%;
}

.greybg ul {
    list-style-type: none;
    background-color: rgb(170, 206, 238);
    padding-top: 30px;
    padding-right: 20px;
    margin-left: 110px;
    margin-top: 80px;
    width: 35%;
    height: 40%;
}